<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Cardinals Nest Realty</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">CARDINALS NEST REALTY</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signIn.html">Owner Login</a>
                <a href="forTenants.html">For Tenants</a>
                <a href="maintenanceRequest.html">Maintenance Request</a>
            </div>
        </header>
        <aside>
            Properties
        </aside>
        <main class="main">
            <div class="content">
                <ul class="rentals">
                    <li>
                        <div class="rental">
                            <img class="rental-image" src="images/d1.jpg" alt="rental">
                            <div class="rental-name">
                                <a href= "rental.html">Milroy Drive</a>
                                </div>
                            <div class="rental-rate">$1,500.00 / month</div>
                            <div class="rental-availability">September 1, 2020</div>
                            <div class="rental-type">Townhouse</div>
                            <div class="rental-beds">3 bedroom</div>
                            <div class="rental-baths">2.5 bath</div>
                            <div class="rental-address">17960 Milroy Dr. Dumfries, VA 22026</div>
                        </div>
                    </li>
                    <li>
                        <div class="rental">
                            <img class="rental-image" src="images/d2.jpg" alt="rental">
                            <div class="rental-name">
                                <a href= "rental.html">Tolson Lane</a>
                                </div>
                            <div class="rental-rate">$2,500.00 / month</div>
                            <div class="rental-availability">March 1, 2021</div>
                            <div class="rental-type">Single-Family</div>
                            <div class="rental-beds">4 bedroom</div>
                            <div class="rental-baths">3.5 bath</div>
                            <div class="rental-address">3 Tolson Ln. Stafford, VA 22554</div>
                        </div>
                    </li>
                    <li>
                        <div class="rental">
                            <img class="rental-image" src="images/d3.jpg" alt="rental">
                            <div class="rental-name">
                                <a href= "rental.html">Kirby Lane</a>
                                </div>
                            <div class="rental-rate">$3,000.00 / month</div>
                            <div class="rental-availability">September 1, 2020</div>
                            <div class="rental-type">Single-Family</div>
                            <div class="rental-beds">5 bedroom</div>
                            <div class="rental-baths">4.5 bath</div>
                            <div class="rental-address">4 Kirby Ln. Stafford, Va 22554</div>
                        </div>
                    </li>
                    <li>
                        <div class="rental">
                            <img class="rental-image" src="images/d4.jpg" alt="rental">
                            <div class="rental-name">
                                <a href= "rental.html">Semmes Avenue</a>
                                </div>
                            <div class="rental-rate">$1,900.00 / month</div>
                            <div class="rental-availability">November 1, 2020</div>
                            <div class="rental-type">Single-Family</div>
                            <div class="rental-beds">3 bedroom</div>
                            <div class="rental-baths">1.5 bath</div>
                            <div class="rental-address">2508 Semmes Ave. Richmond, VA 23225</div>
                        </div>
                    </li>
                    <li>
                        <div class="rental">
                            <img class="rental-image" src="images/d1.jpg" alt="rental">
                            <div class="rental-name">
                                <a href= "rental.html">Milroy Drive</a>
                                </div>
                            <div class="rental-rate">$1,500.00 / month</div>
                            <div class="rental-availability">September 1, 2020</div>
                            <div class="rental-type">Townhouse</div>
                            <div class="rental-beds">3 bedroom</div>
                            <div class="rental-baths">2.5 bath</div>
                            <div class="rental-address">17960 Milroy Dr. Dumfries, VA 22026</div>
                        </div>
                    </li>
                    <li>
                        <div class="rental">
                            <img class="rental-image" src="images/d2.jpg" alt="rental">
                            <div class="rental-name">
                                <a href= "rental.html">Tolson Lane</a>
                                </div>
                            <div class="rental-rate">$2,500.00 / month</div>
                            <div class="rental-availability">March 1, 2021</div>
                            <div class="rental-type">Single-Family</div>
                            <div class="rental-beds">4 bedroom</div>
                            <div class="rental-baths">3.5 bath</div>
                            <div class="rental-address">3 Tolson Ln. Stafford, VA 22554</div>
                        </div>
                    </li>
                    <li>
                        <div class="rental">
                            <img class="rental-image" src="images/d3.jpg" alt="rental">
                            <div class="rental-name">
                                <a href= "rental.html">Kirby Lane</a>
                                </div>
                            <div class="rental-rate">$3,000.00 / month</div>
                            <div class="rental-availability">September 1, 2020</div>
                            <div class="rental-type">Single-Family</div>
                            <div class="rental-beds">5 bedroom</div>
                            <div class="rental-baths">4.5 bath</div>
                            <div class="rental-address">4 Kirby Ln. Stafford, Va 22554</div>
                        </div>
                    </li>
                    <li>
                        <div class="rental">
                            <img class="rental-image" src="images/d4.jpg" alt="rental">
                            <div class="rental-name">
                                <a href= "rental.html">Semmes Avenue</a>
                                </div>
                            <div class="rental-rate">$1,900.00 / month</div>
                            <div class="rental-availability">November 1, 2020</div>
                            <div class="rental-type">Single-Family</div>
                            <div class="rental-beds">3 bedroom</div>
                            <div class="rental-baths">1.5 bath</div>
                            <div class="rental-address">2508 Semmes Ave. Richmond, VA 23225</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            ALL RIGHTS RESERVED
        </footer>
    </div>
</body>

</html>